.About{
     height: 100%;
     width: 100%;
     position: absolute;
     img{
          height: 90%;
          width: 100%; 
     }

     div{
          width: 1100px;
          margin-left: 100px;
          color: white;
          position: relative;
          top: -180px;
     }
}